
// green's tons
$c-green: #008000;
$c-light-green: #d0f0c0;
$c-point-green: #0b6623;

// blue's varieties
$c-blue: #0f52ba;
$c-light-blue: #89cff0;
$c-sweet-blue: #6593F5;

//  red's varieties
$c-red: #C21807;
$c-light-red: #FA8072;
$c-lightest-red:  #ffcccc;

// others
$c-white: #fff;
$c-gray: #e4e3e3;
$c-dark-gray: #808080;
$c-black: #000;
$c-modal-background-default: #fefefe;
$c-modal-border-color: #888;