@import '../../assets/scss/colors';
@import '../../assets/scss/mixins';

.help-modal {
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  align-content: center!important;

  .modal-content {
    width: 60%;
    margin: 0%;
    border-radius: 5px;
    @include boxShadow;
    
    .modal-header {
      position: relative;
      display: flex;
      align-items: center;
      align-content: center;
      height: 60px;
      margin-bottom: 20px;
      
      .title {
        font-weight: bold;
        font-size: 38px;
        color: $c-sweet-blue;
      }

      .help-close-icon {
        position: absolute;
        top: 0px;
        right: 0px;
        cursor: pointer;

        svg {
          width: 30px;
          fill: $c-red!important
        }
      }
  
    }
  }

}